@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Libre Baskerville", serif;
	font-weight: 400;
	font-style: normal;
}

header {
	background-color: #ead7c3;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

.nav {
	margin-left: auto;
}

#menu {
	list-style: none;
}

#menu li {
	display: inline-block;
	margin: 10px;
}

#menu a {
	text-decoration: none;
	color: #000;
}

.active {
	border-bottom: 2px solid #000;
}

main {
	background-color: #fbf6ef;
}

footer {
	background-color: #dce0d9;
}
