@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Libre Baskerville", serif;
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
}

h1, h2, h3, h4, h5 {
	text-transform: uppercase;
}

h2, h4 {
	margin-bottom: 5px;
}

h3 {
	text-align: center;
	margin-bottom: 20px;
}

strong {
	font-size: 110%;
	text-transform: uppercase;
}

header {
	background-color: #ead7c3;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 20px;
	position: fixed;
	width: 100%;
	height: 120px;
}

.nav {
	text-align: right;
	margin-right: 2rem;
}

#menu {
	list-style-type: none;
}

#menu li {
	display: block;
	margin: 10px;
}

#menu a {
	text-decoration: none;
	color: #000;
}

.active {
	border-bottom: 2px solid #000;
}

main {
	background-color: #fbf6ef;
	margin-top: 120px;
	flex: 1;
}

#hero {
	height: 60vh;
	width: 100%;
	background: url(../images/hero-pk.jpg) no-repeat center right / cover;
}

.hero-text {
	padding: 1vh;
	text-align: center;
	font-size: 90%;
	background-color: rgba(248, 237, 235, 0.6);
}

#benefits {
	margin: 20px auto;
	padding: 10px;
}

#benefits hr {
	margin-bottom: 10px;
}

#benefits p {
	font-size: 90%;
	margin: 0px 10px 20px;
	text-align: justify;
}

/* Gallery page */
#photos img{
	width: 100%;
	line-height: 1em;
}

#photos {
	line-height: 0;
}

/* Sign Up page */
#signup {
	background: url(../images/pexels-shvets-production-7525118.jpg) no-repeat center right / cover;
	height: 100vh;
}

#form {
	background-color: rgba(248, 237, 235, 0.6);
	height: 100vh;
	text-align: center;
}

#form > h2 {
	padding: 30px;
	text-transform: none;
}

#form > div {
	padding: 0px 50px 20px ;
}

.text-input {
	background: transparent;
	border: 1px solid #000;
}

.submit-button {
	background-color: #fbf6ef;
	padding: 10px;
	border: 1px solid #000;
}

.submit-button:hover {
	background-color: #dce0d9;
	font-weight: 900;
}

footer {
	background-color: #dce0d9;
	padding: 1rem;
}

footer > h5 {
	text-align: center;
	margin-bottom: 1rem;
}

#socials {
	display: flex;
	list-style-type: none;
	justify-content: space-evenly;
}

#socials i {
	color: #000;
	padding: 0 1.5rem;
}

/* large or landscape phones */
@media screen and (min-width: 576px) {
	#photos {
		column-count: 2;
		column-gap: 0;
	}
}

/* tablet screens and larger */
@media screen and (min-width: 768px) {
	header {
		position: static;
		padding-left: 0px;
	}

	#menu li {
		display: inline-block;
	}

	main {
		margin-top: 0px;
	}

	#photos {
		column-count: 3;
	}
}

/* laptop screens and larger */
@media screen and (min-width: 992px) {
	#menu a:hover {
		border-bottom: 2px solid #000;
	}
}
