@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Libre Baskerville", serif;
	font-weight: 400;
	font-style: normal;
	display: flex;
	flex-direction: column;
}

header {
	background-color: #ead7c3;
}

main {
	background-color: #dce0d9;
}

footer {
	background-color: #fbf6ef;
}
